<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Placed</title>
  </head>
  <body>
    <div class="order-placed-container">

        <h2>
        Thank you for shopping with SnackTank.
          Hi {{user}} Your Order is placed Successfully Order Id is : {{orderid}}
        </h2>
        <a href="{% url 'homepage'%}">Back to Homepage</a>
        <a href="{% url 'dashboard'%}">Show my Dashboard</a>
    </div>
  </body>
</html>
